<!DOCTYPE html>
<html>
    <head>
        <title>
            SHADE|Home
        </title>
    </head>
    <body>
        <button type="submit" value="submit" onclick="handleSubmit()"></button>
        <script>
            function handleSubmit() {
                var xhttp = new XMLHttpRequest();
                var name=document.getElementById("tweeter")
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log("Success")
                    }   
                    else
                        console.log("Failure")
                };
                xhttp.open("GET", "http://127.0.0.1:5000/twitter", false);
            }
        </script>
    </body>
</html>